@media(min-height:1000px) and (min-width:800px) {
    #conteudo {
        flex-direction: column;
    }
    #cadastro {
        width: 70%;
    }
    .texto-cadastro {
        font-size: 24px;
    }
}
@media(min-width:700px) and (min-height:1000px) {
    #conteudo {
        flex-direction: column;
    }
    #cadastro {
        width: 80%;
    }
    .texto-cadastro {
        font-size: 36px;
    }
    #titulo-cadastro {
        font-size: 56px
    }
    .campo-cadastro {
        font-size: 30px;
    }
    #botao-cadastro {
        font-size: 40px;
    }
    .contato {
        font-size: 24px;
    }
}
@media(max-width:700px) {
    #cadastro {
        width: 90%;
    }
    #cafe-arte {
        width: 100%;
    }
}